body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: right;
}
header
{
    padding: 15px;
    box-shadow: 0 0 3px #000;
}

header li 
{
    display: inline;
    padding-left: 45px;
}

header li a
{
    color: #000;
    text-decoration: none;
    padding: 13px;
}

header li a:hover
{
    color: #0065fc;
}

header li img
{
    width: 100px;
    float: left;
    margin-top: -25px;
}

.active
{
    color: #0065fc
}

body {font-family: 'Raleway', sans-serif;}
body{
    margin: 0;
    padding: 0;
    background: #ffff;
}

.container{
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 18px;
}
form{
    width: 300px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
    font-weight: bold;
}
form button{
    background: #0065fc;
    padding: 10px 50px;
    width: 90px;
    border: none;
    outline: none;
    color: #f1f1f1;
    text-align: center;
    padding-left: 5%;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    display: block;
}
form .fa-location-dot{
    align-self: center;
    padding: 18px;
    background-color: #f2f2f2;
    border-radius: 10px 0 0 10px;
}

.filters{
    background-color: green;
    justify-content: flex-start;
}
.filters button{
    background: #ffff;
    padding: 10px 10px;
    width: 90px;
    border-color: #000;
    outline: none;
    color: #f1f1f1;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
}
.filters button:hover{
    color: #0065fc;
}
.filters .fa-money-bill-wave,
.filters .fa-child-reaching,
.filters .fa-heart,
.filters .fa-dog{
    padding: 18px;
    background-color: #f2f2f2;
    border-radius: 50px;
}

.content .container{
    padding-left: 0%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content,
.content1,
.content2,
.content3,
.content4,
.content5,
.content6 {
    color: red;
    height: 150px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
}